<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Layout</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    </head>
    <body>
        <!-- First Row -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>A</h4>
                </div>
                <div class="col">
                    <h4>B</h4>
                </div>
                <div class="col">
                    <h4>C</h4>
                </div>
            </div>
        
        <!-- Second Row -->
        <div class="row">
            <div class="col-2">
                <h4>D</h4>
            </div>
            <div class="col-10">
                <h4>E</h4>
            </div>
        </div>
        <!-- Third Row -->
        <div class="row">
            <div class="col-10">
                <h4>F</h4>
            </div>
            <div class="col-2">
                <h4>G</h4>
            </div>
        </div>
        <!-- Fourth Row -->
        <div class="row">
            <div class="col-2">
                <h4>H</h4>
            </div>
            <div class="col-4">
                <h4>I</h4>
            </div>
            <div class="col-4">
                <h4>J</h4>
            </div>
            <div class="col-2">
                <h4>K</h4>
            </div>
        </div>
        </div>
    </body>
</html>
