<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Html Practice ThymeLeaf</h1>
        <p>This is a paragraph.</p>

        <h2>Unordered HTML List</h2>
        <p>
        An unordered list starts with the &lt;ul&gt; tag. Each list item starts with the &lt;li&gt; tag.
        The list items will be marked with bullets (small black circles) by default:
        </p>
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
        
        <h2>Ordered HTML List</h2>
        <p>
        An ordered list starts with the &lt;ol&gt; tag. Each list item starts with the &lt;li&gt; tag.
        The list items will be marked with numbers by default:
        </p>
        <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ol>

        <h2>Defining an HTML Table</h2>
        <p>
        An HTML table is defined with the &lt;table&gt; tag.
        </p>
        <p>
            Each table row is defined with the &lt;tr&gt; tag.
            A table header is defined with the &lt;th&gt; tag. By default, table headings are bold and centered.
            A table data/cell is defined with the &lt;td&gt; tag.
        </p>
        <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
        </table> 
    </body>
</html>
